Repository weiyuxuan/vite-react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax=scss --fix, cspell

feat: lint code and check spell
  package-lock.json
  package.json
Due: none

docs: update README
  README.md
  cspell.json
  package.json
Due: none

chore: update package-lock
  package-lock.json
Due: none

chore: mount
  snowpack.config.js
Due: eslint --fix

chore: update snowpack.config.js
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  cspell.json
  package.json
  public/index.html
  snowpack.config.js
  src/components/App.jsx
  src/components/App.scss
  src/components/react.svg
  src/index.jsx
Due: eslint --fix, stylelint --syntax=scss --fix, cspell

chore: adjust styles
  public/index.css
  src/components/App.scss
Due: stylelint --syntax=scss --fix, cspell

feat: support typescript
  .browserslistrc
  .commitlintrc.js
  .eslintignore
  .eslintrc
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  .stylelintrc.js
  .vscode/settings.json
  README.md
  cspell.json
  package-lock.json
  package.json
  public/assets/logo.svg
  public/favicon.ico
  public/index.html
  snowpack.config.js
  src/components/App.jsx
  src/components/App.tsx
  src/components/app.module.scss
  src/components/react.svg
  src/constants/common.ts
  src/hooks/useClock.ts
  src/index.jsx
  src/index.scss
  src/index.tsx
  src/typings.d.ts
  tsconfig.json
Due: eslint --fix, stylelint --syntax=scss --fix, cspell

feat: disable build-in bundle
  snowpack.config.js
Due: eslint --fix

chore: update tsconfig
  tsconfig.json
Due: none

chore: update dependencies
  .browserslistrc
  .eslintrc
  README.md
  package-lock.json
  package.json
  src/index.tsx
Due: none

Update README.md
  README.md
Due: none

chore: remove useless vscode config
  .vscode/settings.json
Due: none

chore: migrate from snowpack to vite
  .commitlintrc.cjs
  .stylelintrc
  README.md
  index.html
  package-lock.json
  package.json
  snowpack.config.js
  src/index.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix

chore: optimize the commitlint
  .husky/commit-msg
  commitlint.config.cjs
Due: none

chore: optimize the commitlint
  .husky/commit-msg
Due: none

chore: update dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: update node version
  README.md
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --syntax=scss --fix: any of: src/**/*.scss
  cspell: any of: src/**/*.{jsx,js,scss}
